body{
	background-image:url("images/marble.jpg");
	background-size: cover;
	color: black;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

h1{
	color: #d4af37;
	font-family: Chalkduster;
	font-weight: 900;
	letter-spacing: 10px;
	font-size: 47px;
}

h2{
	font-family: 'Chilanka', cursive;
	font-size:30px;
	font-weight: 800;
}

a{
	text-decoration: none;
	font-weight: 600;
	font-family: 'Indie Flower', cursive;
	font-size:20px
}
a:hover{
	color: grey;
}

/* custom design with classes */

.container{
	width:1000px;
	margin:20px auto;
}
@media(max-width: 500px){
	.container{
		width:400px;
	}
}
.box-white{
	background: rgba(255,255,255,.6);
	border-radius: 4px;
	margin:20px 0px;
	padding:20px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	text-align: center;
}

.img-circle{
    border-radius:100%;
    box-shadow: 10px 10px 30px rgba(0,0,0,1)
}

.btn-silver{
	background-color: silver;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
}
.btn-silver:hover{
	background-color: grey;
	color:white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 30px;
}

.list-inline i{
	font-size: 50px;
	color:rgb(150,150,150);
}

.list-inline i:hover{
	color:rgb(100,100,100);
}

#introduction p{
	margin-bottom: 40px
}